@model RazorFromApiSpike.Api.Models.ApiRenderRazorViewModel

<div>
    Genereret <em>igen</em> fra api @Model.Date.ToLongDateString().
</div>

<form action="@Model.PostBackUrl" method="post">
    <div>
        Name: <input type="text" name="name"/>
    </div>
    <div>
        Address: <input type="text" name="address"/>
    </div>
    <div>
        Country:
    </div>
    <div>
        <input type="radio" name="country" value="DK"/> Denmark
    </div>
    <div>
        <input type="radio" name="country" value="NO"/> Norway
    </div>
    <div>
        <input type="submit" value="OK"/>
    </div>
</form>